/* # app/static/css/style.css */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.footer {
    margin-top: auto;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

.preserve-newlines {
    white-space: pre-line !important;
}
.input-group-text {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #6c757d;
}

/* Make the @ symbol stand out more */
.input-group-text {
    font-size: 1.1rem;
}